.trainBoard, .trainBoard th, .trainBoard tr, .trainBoard td {
    border: 1px solid black;
}

.trainBoard th, .trainBoard td {
    height: 28px;
}

body {
    display: flex;
    justify-content: space-around;
    text-align: center;
}