.trainBoard th, .trainBoard td {
    padding: 0% 1%;
}

@font-face {
    font-family: 'MBTA Commuter Rail';
    src: url('../font/mbta-commuter-rail.ttf');
}

h2, #timeSection, .trainBoard th {
    text-align: center;
}

.trainBoard {
    font-family: 'MBTA Commuter Rail';
    font-size: 25px;
    background-color: black;
    border: 5px solid white;
}

.trainBoardSection {
    width: 40%;
    justify-self: space-around;
}

#timeSection {
    width: 20%;
}

.trainBoard {
    width: 100%;
}

body {
    font-family: 'Lato', sans-serif, arial;
    color: white;
    background: url('../img/south-station.jpg');
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-color: blue;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

.trainBoard td, #timeSection {
    color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: bold;
}

#timeSection {
    color: #000000;
}

td.status {
    color: greenyellow;
}

.trainBoard th, .trainBoard td {
    height: 28px;
}